{% extends "__layout.twig" %}

{% block content %}

    <h1>Microsoft Store</h1>

    {% if image_type %}
    <div class="container m-4">
        <center><img heigth="300" width="200" src="{{image_type}}" alt=""></center>
    </div>
    {% endif %}

    <div class="row">
        {% for object in xboxes %}
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <div class="main-image-wrapper">
                            <img class="main-image" src="{{object.image}}" alt="">
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="btn btn-secondary col">
                                    <a class="nav-link active" href="/xboxes/{{ object.id }}"><strong>{{object.title}}</strong></a>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-info col">
                                    <a class="nav-link active" href="/xboxes/{{ object.id }}?show=info"><strong>Описание</strong></a>
                                </button>
                                <button type="button" class="btn btn-success col">
                                    <a class="nav-link active" href="/xboxes/{{ object.id }}?show=image"><strong>Фото</strong></a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}