{% extends "__layout.twig" %}

{% block content %}
    <h1>Редактирование консоли {{xbox.title}}</h1>
    <hr>

		{% if message %}
    <div class="alert alert-info">
        {{ message }}
        <a href="/xboxes/{{xbox.id}}">открыть</a>
    </div>
    {% endif %}

    <form enctype="multipart/form-data" method="POST" class="row g-3">
        <div class="col-3">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" name="title" value="{{xbox.title}}">
        </div>
				<div class="col-3">
            <label class="form-label">Цена ₽</label>
            <input type="text" class="form-control" name="price_ru" value="{{xbox.price_ru}}">
        </div>
				<div class="col-3">
            <label class="form-label">Цена $</label>
            <input type="text" class="form-control" name="price_us" value="{{xbox.price_us}}">
        </div>
        <div class="col-3">
            <label class="form-label">Тип</label>
            <select class="form-control" name="type">
            {% for type in types %}
                <option value={{type.id}} {% if type.id == xbox.type_FK %} selected{% endif %}>{{type.title}}</option>
            {% endfor %}
            </select>
        </div>
		<div class="col-12">
            <label for="formFile" class="form-label">Картинка</label>
            <input class="form-control" type="file" id="image" name="image">
        </div>
        <div class="col-12">
            <textarea name="description" placeholder="Описание..." class="form-control" rows="5">{{xbox.description}}</textarea>
        </div>
        <div class="col-12 text-end">
            <button name="xbox" type="submit" class="btn btn-primary">Изменить</button>
        </div>
    </form>

{% endblock %}